<form [formGroup]="form" (ngSubmit)="agregarMedicamento()">
    <mat-grid-list cols="2" rowHeight="75px">
        
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-label> NOMBRE MEDICAMENTO: </mat-label>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-form-field appearance="fill" >
                <input matInput #input maxlength="20" autocomplete="off" formControlName="nombreCtrl">
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-label> LABORATORIO: </mat-label>
        </mat-grid-tile>


        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-form-field appearance="fill">
                <mat-select formControlName="laboratorioCtrl">
                    <mat-option *ngFor="let laboratorio of laboratorios" [value]="laboratorio.nombre">
                        {{laboratorio.nombre}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-label> DOSIFICACION: </mat-label>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-form-field appearance="fill">
                <mat-select formControlName="dosificacionCtrl">
                    <mat-option *ngFor="let dosificacion of dosificaciones" [value]="dosificacion.nombre">
                        {{dosificacion.nombre}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-label> CODIGO COMPRA: </mat-label>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-form-field appearance="fill">
                <input matInput #input maxlength="20" autocomplete="off" formControlName="codigoCompraCtrl">
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-label> CODIGO BARRA: </mat-label>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-form-field appearance="fill">
                <input matInput #input maxlength="20" autocomplete="off" formControlName="codigoBarraCtrl">
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-label> CANTIDAD: </mat-label>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-form-field appearance="fill" >
                <input matInput #input maxlength="20" autocomplete="off" formControlName="cantidadCtrl">
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-label> PRECIO: </mat-label>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-form-field appearance="fill" >
                <input matInput #input maxlength="20" autocomplete="off" formControlName="precioCtrl">
            </mat-form-field>
        </mat-grid-tile>        

        <mat-grid-tile [colspan]="2" [rowspan]="1">
            <button [disabled]="form.invalid" color="primary" mat-button
                (click)="confirmModal()" mat-raised-button type="submit">
                <mat-icon>save</mat-icon>
                GUARDAR
            </button>
        </mat-grid-tile>

    </mat-grid-list>
</form>

